*.log

*.tmp
*.temp

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

build/
.gradle/

.idea/
*.iml
*.iws
*.ipr
out/

.vscode/
.settings/
.classpath
.project
.factorypath

application.properties
application-dev.properties
application-local.properties

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

dist/
dist-ssr/
*.local
.env
.env.local
.env.DEVELOPMENT.local
.env.TEST.local
.env.PRODUCTION.local

uploads/